@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.main-page{
    box-sizing: border-box;
    
    &__logo-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0px 0px;
    }
    &__logo{
        width: 150px;
        border-radius: 50%;
    }
    &__top{
        height: 20vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__middle{
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    &__bottom{
        height: 15vh;
        width: 100%;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    &__name{
        color: $secondary;
        text-shadow: 1px 0px 1px;
        letter-spacing: 1.5px;
        margin-bottom: 10px;
        font-size: 12px;
    
    }
    &__title{
        color: burlywood;
        text-shadow: 1px 0px 1px;
        letter-spacing: 2px;
        font-size: 19px;
    }
    &__menu{
        color: $secondary;
        text-decoration: none;
        @include header;
    }
    &__divider{
        background-color: burlywood;
        height: 1px;
        // margin: auto 0px;
        width: 80%;
    }
    &__divid{
        margin-bottom: 0px;
    }
    &__contact{
        color: burlywood;
        font-size: 12px;
        letter-spacing: 2px;
        text-decoration: none;
    }


}



