@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;



.title{
    font-size: 80px;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



